
/* light theme */
:root.theme-light {
    --background-color: #fff;
    --accent-color: #000;
    --button-text: #fff;
    --title-font-weight: 700;
    --text-font-weight: 400;
    --background-image: 
    repeating-linear-gradient(to right, #d3d3d3, #d3d3d3 2px, transparent 2px, transparent 4px),
    repeating-linear-gradient(to bottom, #d3d3d3, #d3d3d3 2px, transparent 2px, transparent 4px),
    linear-gradient(#e7e7e7 0.01%, #1a1a1a);
}

/* dark theme */

:root.theme-dark {
    --background-color: #000;
    --accent-color: #00cc14;
    --button-text: #00cc14;
    --title-font-weight: 785;
    --text-font-weight: 465;
    --background-image: 
    repeating-linear-gradient(to right, #000, #000 2px, transparent 2px, transparent 4px),
    repeating-linear-gradient(to bottom, #000, #000 2px, transparent 2px, transparent 4px),
    linear-gradient(#007f0c 0.01%, #004306);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #000;
        --accent-color: #00cc14;
        --title-font-weight: 785;
        --text-font-weight: 465;
        --button-text: #00cc14;
        --background-image:
        repeating-linear-gradient(to right, #000, #000 2px, transparent 2px, transparent 4px),
        repeating-linear-gradient(to bottom, #000, #000 2px, transparent 2px, transparent 4px),
        linear-gradient(#007f0c 0.01%, #004306);
    }
}