/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    /* fonts */
    --main-font-family: 'Inter', sans-serif;
    --accent-font-family: 'PressStart2P-Regular', fantasy;
    --main-font-size: 18px;
    --title-font-weight: 700;
    --text-font-weight: 400;

    /* themes */
    --background-color: #fff;
    --accent-color: #000;
    --title-font-weight: 700;
    --text-font-weight: 400;
   

    /* background-image */
    --background-image:
        repeating-linear-gradient(90deg, #d3d3d3, transparent 2px),
        repeating-linear-gradient(180deg, #d3d3d3, transparent 2px),
        linear-gradient(#e7e7e7 0.01%, #1a1a1a);
    
    /* containers */
    --max-container-width: 700px;
    --min-header-container-height: 327px;
    --min-main-container-height: 224px;

    /* heart */
     --heart-color-main-body: #FF0000;
    }
